* {
/*    border: 2px solid mediumseagreen; */
    padding: 0;
    margin: 0;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
    font-size: 0.9rem;
}

li:hover {
    text-decoration: underline;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 2rem;
}

header {
    align-self: flex-start;
    height: 50px;
    width: 100vw;
}

header ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: .3rem .3rem .3rem 1rem;
}
header li {
    padding: .6rem;
}

#gmail {
    margin-left: auto;
}
#applications img {
    opacity: 0.5;
    padding-left: 0.5rem;
}
#profile-picture img {
    border-radius: 50%;
}

main {
    /* flex item properties */
    justify-self: flex-start;
    flex: 2;
    /* flex container properties */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 2vh 0;
}

main form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

.search-bar {
    width: 65vw;
    max-width: 600px;
    height: 2.7rem;
    margin: 2rem;
    border: lightgray 1px solid;
    border-radius: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.search-image {
    margin-left: 7px;
    opacity: 0.5;
}
.search-bar:hover {
    box-shadow: 1px 1px 10px lightgray;
}
#search-field {
    justify-self: flex-end;
    border: none;
    padding: 10px;
    flex: 2;
    margin-right: 15px;
    font-size: 1rem;
}
#search-field:focus {
    outline: none;
}

button {
    border: none;
    background-color: rgba(186, 202, 224, 0.2);
    border-radius: 2px;
    padding: 0.5rem 1rem;
    margin: 0 0.3rem 2rem 0.3rem;
    font-size: 0.8rem;
    color: rgb(53, 53, 53);
}
button:hover {
    border: lightgray 1px solid;
    box-shadow: 1px 1px 5px lightgray;
    color: black;
}

p {
    font-size: 0.8rem;
}

footer {
    justify-self: flex-end;
    width: 100vw;
    height: 6rem;
    color: slategray;
    background: rgba(211, 211, 211, 0.3);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.country {
    display: flex;
    align-items: center;
    height: 50%;
    padding: 0 1.8rem;
    border-bottom: 1px rgba(112, 128, 144, 0.3) solid;
}

.bottom {
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.bottom-left {
    flex: 1 1 auto;
}
.bottom-right {
    margin-left: auto;
    flex: 1 3 auto;
}

.bottom-left, .bottom-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0 1.5rem;
}

.bottom-left li, .bottom-right li {
    flex: none;

}

#mobi-all,
#mobi-images,
#mobi-about,
#mobi-menu {
    display: none;
}

/* Media query to make footer two lines,
using the breakpoint on Google's live site */
@media screen and (max-width: 600px) {
    footer {
        height: 8rem;
      }
  
      .bottom {
          height: 60%;
          flex-flow: column nowrap;
          margin: 1rem 0;
          justify-content: center;
          align-items: center;
          gap: 1rem;
      }

      .bottom-left,
      .bottom-right {
          margin: 0;
          padding: 0;
      }
}

/* Media query for mobile device layout */
@media screen and (max-width: 500px) {
    body {
        height: 97vh;
    }
    
    #mobi-all,
    #mobi-images,
    #mobi-about,
    #mobi-menu {
        display: initial;
    }

    #mobi-all,
    #mobi-images {
        color: #6c6c6e;
        font-size: 0.8rem;
    }

    #about,
    #store,
    #gmail,
    #images,
    .search-buttons,
    #how-search-works {
        display:none;
    }

    #applications {
        margin-left: auto;
    }


    #logo {
        width: 164px;
        height: auto;
        margin-top: 3rem;
    }

    .search-bar {
        width: 95vw;
    }

    #settings {
        order: 1;
    }

    #privacy {
        order: 2;
    }

    #terms {
        order: 3;
    }

    .bottom {
        height: 60%;
        flex-flow: column-reverse nowrap;
        margin: 1rem 0;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

}