* {
/*    border: 2px solid mediumseagreen; */
    padding: 0;
    margin: 0;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
    font-size: 0.9rem;
}

li:hover {
    text-decoration: underline;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

header {
    align-self: flex-start;
    height: 50px;
    width: 100vw;
}

header ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: .3rem .3rem .3rem 1rem;
}
header li {
    padding: .6rem;
}

#gmail {
    margin-left: auto;
}
#applications img {
    opacity: 0.5;
    padding-left: 0.5rem;
}
#profile-picture img {
    border-radius: 50%;
}

main {
    /* flex item properties */
    justify-self: flex-start;
    flex: 2;
    /* flex container properties */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 2vh 0;
}

main form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

.search-bar {
    width: 65vw;
    max-width: 600px;
    height: 2.7rem;
    margin: 2rem;
    border: lightgray 1px solid;
    border-radius: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.search-image {
    margin-left: 7px;
    opacity: 0.5;
}
.search-bar:hover {
    box-shadow: 1px 1px 10px lightgray;
}
#search-field {
    justify-self: flex-end;
    border: none;
    padding: 10px;
    flex: 2;
    margin-right: 15px;
    font-size: 1rem;
}
#search-field:focus {
    outline: none;
}

button {
    border: none;
    background-color: rgba(186, 202, 224, 0.2);
    border-radius: 2px;
    padding: 0.5rem 1rem;
    margin: 0 0.3rem 2rem 0.3rem;
    font-size: 0.8rem;
    color: rgb(53, 53, 53);
}
button:hover {
    border: lightgray 1px solid;
    box-shadow: 1px 1px 5px lightgray;
    color: black;
}

p {
    font-size: 0.8rem;
}

footer {
    justify-self: flex-end;
    width: 100vw;
    height: 6rem;
    color: slategray;
    background: rgba(211, 211, 211, 0.3);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.country {
    display: flex;
    align-items: center;
    height: 50%;
    padding: 0 1.8rem;
    border-bottom: 1px rgba(112, 128, 144, 0.3) solid;
}

.bottom {
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 5rem;
}

.bottom-left {
    flex: 2;
}
.bottom-right {
    margin-left: auto;
    flex: 3;
}

.bottom-left, .bottom-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.bottom-left li, .bottom-right li {
    padding: 0 1.5rem;
    flex: none;
}